<style>
    .receipt-header {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
}

.logo img {
    width: 220px;
    margin-bottom: 10px;
}

.clinic-info {
    font-family: Arial, sans-serif;
}

.address {
    font-size: 16px;
    margin: 5px 0;
}

.phone {
    font-size: 16px;
    font-weight: bold;
}

@media print {
    .receipt-header {
        margin-bottom: 15px;
    }
}
</style>



<div class="receipt-header">
    <div class="logo">
        <img src="/images/shinedental.jpeg" alt="Shine Dental Surgery">
    </div>

    <div class="clinic-info">
        <p class="address">
            Address: Awwab Mall Mengo near (Mengo traffic lights) behind Masengere building
        </p>

        <p class="phone">
            Tel: 0702608900 / 0776104205
        </p>
    </div>
</div>