<nav class="navbar">
  <div class="navbar-left">
    <img src="/images/shinedental.jpeg" alt="Logo" class="logo">
    <a href="/"><span class="brand-name">Shine Dental Surgery</span></a>
  </div>
  <div class="navbar-right">
    <% if (user) { %>
      <span style="margin-right: 20px; font-size: 14px;">Welcome, <%= user.name %></span>
      <a href="/account/logout" class="account-link">Logout</a>
    <% } else { %>
      <a href="/account/login" class="account-link">Login</a>
    <% } %>
  </div>
</nav>
