<style>
    .company-header img {
        width: 100%;
        max-width: 840px;
    }

    .btn-print {
        text-align: center;
        align-items: center;
    }

    body{
        align-items: center;
        margin-top: 0;
    }
</style>

<body>
            <div class="company-header">

            <img src="/images/reciept_logo.png" alt="Receipt Logo">


        </div>




    <button class="btn-print" onclick="window.print()">Print</button>

</body>