<div class="add">
    <div class="home">
        <h1>Invoice Maker</h1>
        <a href="/invoices/new">Create an Invoice</a>
        <a href="/invoices">View Invoices</a>
    </div>
    <div class="home">
        <h1>Receipt Maker</h1>
        <a href="/receipt">Create a Receipt</a>
        <a href="/receipts">View Receipts</a>
    </div>
</div>